/* 
COLORS

Primary: #EB2f64;
Primary light: #FF3366;
Primary dark: #BA265D;

Grey light 1: #FAF9F9;
Grey light 2: #F4F2F2;
Grey light 3: #F0EEEE;
Grey light 4: #CCC;

Grey dark 1: #333;
Grey dark 2: #777;
Grey dark 3: #999;
*/

* {
  margin: 0;
  padding: 0;
}